.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--main-color);
  z-index: 999;
  // background-color: var(--paper-shadow);
  &__content {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__langAndAuth {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}
