.btnContent {
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-ou;
}

.btnContent:hover {
  font-weight: 600;
}
