@use '../../styles/mixins';

.article {
  padding: 40px 0;
  @include mixins.mq(tablet) {
    padding: 45px 0;
  }
  @include mixins.mq(desktop) {
    padding: 50px 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
