@use '../../styles/mixins';
.navigation {
  width: 100%;
  border-top: 1px solid var(--bg-footer-header);

  &__content {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}

.link {
  color: var(--text-color);
  display: inline-block;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.active {
  display: inline-block;
  position: relative;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.active.link:before {
  content: '';
  background: var(--text-color);
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  transition: all 0.3s ease-in-out;
}

.link:before {
  content: '';
  background: var(--text-color);
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 1px;
  transition: all 0.3s ease-in-out;
}

.link:hover {
  background-position: 0;
}

.link:hover::before {
  width: 100%;
}
